.eventImage {
  height: 210px;
  width: 280px;
  border-radius: 5px;
}

.center-trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
}

.individual-trip {
  margin-top: 69px;
}

.background-image-trip {
  height: 300px;
  width: 100vw;
}

.trip-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 60px auto 20px auto;
  padding: 2em;
  border-radius: 10px;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background-color: white;
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.tripDateCard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 20px auto;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background: transparentize(white, 0.8);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 700px;
}

.eventImage-container:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  transition: 2s ease;
}

.tripDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto 20px auto;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background: transparentize(white, 0.8);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.eventDetail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 20px auto;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background: transparentize(white, 0.8);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
  width: 300px;
}

.eventinside-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto 20px auto;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background: transparentize(white, 0.8);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
}

.flex-child:first-child {
  margin-right: 20px;
}

.eventButton,
.addUser {
  border-bottom: 4px solid transparent;
  display: inline;
  width: 200px;
  margin: 0 auto;
}

.eventButton.active,
.eventButton:hover {
  border-color: #d057ee;
}

.addUser.active,
.addUser:hover {
  border-color: #d057ee;
}

.editEventButton,
.deleteEventButton {
  border-bottom: 4px solid transparent;
  display: inline;
  width: 200px;
  margin: 0 auto;
}

.editEventButton.active,
.editEventButton:hover {
  border-color: #33ccff;
}

.deleteEventButton.active,
.deleteEventButton:hover {
  border-color: #f63d43;
}

.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline-block;
}

.buttonAction {
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

.eventName,
.eventLocation,
.eventDescription,
.eventDate {
  margin-bottom: 25px;
  color: #666666;
}

.add-user-submit {
  float: right;
  align-items: center;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #fdffdc;
  border-radius: 3px;
  border: 3px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.note-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adduser {
  margin-top: 25px;
  border-bottom: 4px solid transparent;
  display: inline;
  width: 300px;
  margin: 0 auto;
}

.adduser.active,
.adduser:hover {
  border-color: #33cc66;
}

.addUserDiv {
  width: 300px;
  position: relative;
}

.deleteuser {
  margin-left: 10px;
  margin-top: 25px;
  border-bottom: 4px solid transparent;
  display: inline;
  width: 160px;
  margin: 0 auto;
}

.deleteuser.active,
.deleteuser:hover {
  border-color: #e93c3c;
}

.add-user {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 5px;
}

.add-user-submit {
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 2px;
  height: 30px;
  cursor: pointer;
  transform: translateX(2px);
  top: -10px;
}

.tripDateCard-container h1 {
  font-size: 18pt;
}

.events-and-map {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.map-div {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  margin-top: 28px;
}

.daily-itinerary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-header {
  color: #444444;
}

.main-header{
  text-shadow:0 1px 0 #ccc,
  0 1px 0 #c9c9c9,
  0 2px 0 #bbb,
  0 3px 0 #b9b9b9,
  0 4px 0 #aaa,
  0 5px 1px rgba(0,0,0,.1),
  0 0 4px rgba(0,0,0,.1),
  0 1px 2px rgba(0,0,0,.3),
  0 3px 4px rgba(0,0,0,.2),
  0 5px 8px rgba(0,0,0,.25),
  0 8px 8px rgba(0,0,0,.2),
  0 16px 16px rgba(0,0,0,.15);
}
