[data-reach-combobox-option-text] {
    color: black
}

[data-reach-combobox-input] {
    color: white
}

[data-reach-combobox-popover] {
    background-color: white;
}

[data-reach-combobox-list] {
    list-style:none;
}

[data-reach-combobox-option-text] {
    color: black
}

[data-reach-combobox-option][data-highlighted] {
    color: gray;
}

[data-reach-menu-item][data-selected] {
    background: red;
}
