/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a,
button {
  transition: 0.5s;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(99, 174, 170);
  background: rgb(227, 255, 254);
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 174, 170);
  border-radius: 8px;
  margin: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 139, 136);
}

/* Nav bar styling -> to be inherited across site */
.nav-container {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: white;
  border-bottom: 3px solid rgb(99, 174, 170);
  z-index: 1;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.nav-bar-left {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.nav-bar-right {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.logged-in-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.logged-out-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.nav {
  color: #666666;
  border-bottom: 4px solid transparent;
  font-size: 18px;
}

.button1,
.button2,
.button3,
.button4 {
  transition: 0.5s;
}


.button1.active,
.button1:hover {
  border-color: #33ccff;
}

.button2.active,
.button2:hover {
  border-color: #ff6666;
}

.button3.active,
.button3:hover {
  border-color: #33cc66;
}

.button4.active,
.button4:hover {
  border-color: #f3fd40;
}

.addATripButton.active,
.addATripButton:hover {
  border-color: #cc66cc;
}

.button {
  padding: 19px 56px 9px 18px;
  margin: 5px;
  text-decoration: none;
  background-color: #18a558;
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
}

a,
a:link {
  text-decoration: none;
}

button {
  border-radius: 3px;
  padding: 15px;
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(99, 174, 170);
  font-weight: bold;
  transition: 0.5s;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.AddATripButton {
  border-radius: 3px;
  padding: 15px;
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(99, 174, 170);
  font-weight: bold;
}

.nav-link {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:active {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
}

#travel {
  margin-bottom: 25px;
}

a.trips {
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: rgb(99, 174, 170);
  position: relative;
  top: 15px;
  font-weight: bold;
  transition: 0.5s;
}

h2 {
  color: rgb(99, 174, 170);
  position: relative;
  top: 15px;
}

/* Trip page css */
.page-container {
  margin-top: 100px;
  margin-left: 30px;
}

#all-trips {
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 2px 0 #bbb,
    0 3px 0 #b9b9b9,
    0 4px 0 #aaa,
    0 5px 1px rgba(0, 0, 0, .1),
    0 0 4px rgba(0, 0, 0, .1),
    0 1px 2px rgba(0, 0, 0, .3),
    0 3px 4px rgba(0, 0, 0, .2),
    0 5px 8px rgba(0, 0, 0, .25),
    0 8px 8px rgba(0, 0, 0, .2),
    0 16px 16px rgba(0, 0, 0, .15);
  color: #444444;
}

.trip-gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


#delete-texts {
  font-size: 14pt;
}

#trip-add,
.triplabel,
.new-trip-name,
.new-trip-image,
.new-trip-start-date,
.new-trip-end-date,
#edit-trip-start-date {
  color: white;
}

.new-note-errors li,
.errors li,
.new-trip-errors li,
.new-event-errors li,
.user-errors div {
  color: rgb(246, 76, 76);
  list-style-type: none;
}

.new-note-text {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  resize: vertical;
  border-radius: 5px;
  padding: 5px;
  font-size: 14pt;
}
