/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Nav bar styling -> to be inherited across site */

.nav-container {
    width: 100%;
    /* height: 65px; */
    top: 0;
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3px solid rgb(99,174,170);
    z-index: 1;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.nav-bar-left {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.nav-bar-right {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.logged-in-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

.logged-out-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.nav {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 18px;
}

.button1.active,
.button1:hover {
    border-color: #33CCFF;
}

.button2.active,
.button2:hover {
    border-color: #FF6666;
}

.button3.active,
.button3:hover {
    border-color: #33CC66;
}

.addATripButton.active,
.addATripButton:hover {
    border-color: #CC66CC;
}


.button {
    padding: 19px 56px 9px 18px;
    margin: 5px;
    text-decoration: none;
    background-color: #18A558;
    border-radius: 7px;
    font-weight: bold;
}

a,
a:link {
    text-decoration: none;
}

button {
    border-radius: 3px;
    padding: 15px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(99,174,170);
    font-weight: bold;

}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}


.AddATripButton{
    border-radius: 3px;
    padding: 15px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(99,174,170);
    font-weight: bold;
}

.nav-link {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:active{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    /* background-size: cover;
    display: inline-block; */
    height:40px;
    width:40px;
    /* background-position: center center;
    background: url(https://i.ibb.co/NtrPmZn/favicon-32x32.png) no-repeat; */
}

#travel {
    margin-bottom: 25px;
}

a.trips{
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(99,174,170);
    position:relative;
    top:15px;
    font-weight: bold;
}

h2{
    color:rgb(99,174,170);
    position:relative;
    top:15px;

}

/* Trip page css */
.page-container {
    margin-top: 100px;
    margin-left: 30px;
    
}

#all-trips {
    text-align: center;
    text-shadow: 0 1px;
    color: #444444;
}

.trip-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
