.formContainer11 {
    height: auto;
    width: 240px;
    background-color: rgba(255,255,255);
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.2);
    padding: 20px 10px;
    text-align: left;
    color: white;
}

.formContainer11  *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.dropdown-list {
    color: black;
}

.logout{
        width: fit-content;
        color: black;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
}

.logout:hover,
.logout:active {
        color: rgb(255, 255, 255);
        background-color: #ff0000;
    }
