.waterfall {
  width: 100%;
  max-width: 100%;
  z-index: 0;
}

@media only screen and (max-width: 900px) {
  .waterfall {
    width: 100%;
  }
}

.travel {
  margin-top: 60px;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
  z-index: 0;
}

@media only screen and (max-width: 900px) {
  .travel {
    width: 100%;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.gallery_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.gallery_description {
  font-size: 12pt;
  color: grey;
  text-align: center;
}

.gallery_name {
  margin-top: 0.5em;
  font-size: bold;
  font-size: 16pt;
  text-align: center;
  color: rgb(99, 174, 170);
}

.gallery_img {
  width: 210px;
  height: 130px;
  padding: 0.5em;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


#intro-text {
  color: white;
  position: absolute;
  font-size: 20pt;
  top: 180px;
  text-shadow: 0 1px 1px rgb(0, 59, 13);
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
